body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.image {
  background: url("one.png");
  height: 844px;
width: 1170px;
  background-color: powderblue;
}
.contactme {
  height: 35px;
width: 300px;
font-size: 16px;
position: relative;
   left: 75px;
   top: 50px;
  background-color: lightgrey;
  border-radius: 12px;
}
.personalcart {
  height: 35px;
width: 300px;
font-size: 16px;
position: relative;
   left: 75px;
   top: 50px;
  background-color: lightgrey;
  border-radius: 12px;
}